@font-face {
  font-family: Segoe UI;
  src: url();
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Segoe UI;
  src: url();
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Segoe UI;
  src: url();
  font-weight: normal;
  font-style: normal;
}
